<mat-form-field appearance="fill">
  <mat-label>Seleccione la DB</mat-label>      
  <mat-select [(value)]="dbSelected"  >
    <mat-option *ngFor="let food of dbs" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>


<div class="login">
    <form class="custom-form" method="post">
        <h1>Selecciona la consulta</h1>
        <mat-form-field appearance="fill">
          
          <mat-select [(value)]="consultaSelected"  style="width:450px" >
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button type="submit" (click)="consulta()" >Procesar</button>
        <br>
        <label *ngIf="resultado">Resultado: ####</label>
    </form>
</div>
